<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inhertance </title>
</head>
<body>
    <h1> home page ! </h1>

    
    {% for stu  in stu   %}
    <h3> student </h3>
    <h1> {{stu.name}}-{{stu.fess}} - {{stu.age}}</h1>
        
    {% endfor %}
        <h1>----------------------------------------------------</h1>

        
        {% for tea  in tea   %}
        <h1> {{tea.name}}-{{tea.salary}} - {{tea.age}} - {{tea.date}}</h1>
            
        {% endfor %}

        <h1>-----------------------------------------------------------</h1>
        
        {% for con  in con   %}
        <h1> {{con.name}}-{{con.payment}} - {{con..age}} - {{tecon..date}}</h1>
            
        {% endfor %}
            
            
    
</body>
</html>