<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> form argument ! </h1>
    <div style=" display : flex ; align-item : center ; justify-content : center ;">
<form action="" methods="get ">
    <table>
        {{ form }}
    </table>
    <button  style=" background-color : blue;  color : white ; " type="submit" value="submit"> submit</button>
</form>

    </div>
</body>
</html>