<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <style>
        .btn{
            text-decoration : none ;
            background : blue ;
            color : white ;
            padding :10px ;
            border-radius : 3px ;
            margin-top : 23px ;
        }

        .btn-submit{
            text-decoration : none ;
            background : blue ;
            color : white ;
            padding :10px ;
            border-radius : 3px ;
            margin-bottom  : 23px ;
        }
    </style>
    {% for message  in messages   %}
    <h1 class="mid-message"> 
        {{message}}
    </h1>
    {% endfor %}
    
    <h2> welcome {{user}}</h2>
    <h2>User profile</h2>

    <div class="mid">

        <form action="" method="POST" novalidate >
            {% csrf_token %}
            {% if form.non_field_errors %}
            
            {% for error in form.non_field_errors   %}
            <p> {{error }}</p>
                
            {% endfor %}
                
            {% endif %}
           
           {% for field  in form  %}
           {{field.label_tag}} {{field}} {{field.errors|striptags}} <br> <br>
            
           {% endfor %}
            
            <input class="btn-submit" type="submit" value="save">
        </form>
    </div>
    
    {% if request.user.is_authenticated  %}
    <a href="{% url 'logout' %}" class="btn"> logout  </a>
    {% else %}
    <a href="{% url 'singin' %}" class="btn"> login  </a>
    
    
    
    
    
    {% endif %}
    <a href="{% url 'home' %}" class="btn"> Back to Home  </a>
        
    
</body>
</html>