<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1> this is from page ! </h1>
    <h1>go to mform 
        <a href="/mform" > mform </a>
    </h1>
    <h1> field_args 
        <a href="/fargs" > field_argument  </a>
    </h1>
    <h1> <a href="fpost/"> form with post methods and also get form data in termial and httpresponseRedirect methods  </a></h1>
    <h1> <a href="fft/">  from field type and validations  and cleaning and validating specfic fields  </a></h1>
    <h1> <a href="cfv/"> custom form validator </a></h1>
    <h1> <a href="error/"> styiling field Error  </a></h1>
    <h1> <a href="error2/"> styiling field Error2 for diffrent diffrent error styling css   </a></h1>
    <h1> <a href="save/form/"> saving data form  </a></h1>
    <h1> <a href="model/form/"> modelform  </a></h1>
    <h1> <a href="model/inherit/"> model inheritance   </a></h1>
    <h1> <a href="dynamic/url/"> dynamic url   </a></h1>
    <h1> <a href="converter/url/"> custom path converter    </a></h1>
    
        
   
    <form action="" method="get">
        <table>
        {{form}}
    </table>
        
        <button type="submit" value="submit">submit</button>
    </form>
    

  
</body>
</html>