<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>

        table , th , tr  ,td {
            border : 2px solid black ;
        }
    </style>
    <h1> user data ! </h1>
    <h3> data 1 </h3>
    <table>
        <th> USername </th>
        <th> firstname </th>
        <th> lastname </th>
        <th> email  </th>
        
        {% for dt  in date1  %}

        
        <tr>
            <td> {{dt.username}}</td>
            <td> {{dt.first_name}}</td>
            <td> {{dt.last_name}}</td>
            <td> {{dt.email}}</td>

        </tr>
            
        {% endfor %}
            
    </table>
    







    <h3> data 2  data filter by email </h3>
    <table>
        <th> USername </th>
        <th> firstname </th>
        <th> lastname </th>
        <th> email  </th>
        
        {% for dt  in date2  %}

        
        <tr>
            <td> {{dt.username}}</td>
            <td> {{dt.first_name}}</td>
            <td> {{dt.last_name}}</td>
            <td> {{dt.email}}</td>

        </tr>
            
        {% endfor %}
            
    </table>




    <h3> data 3 data filter by  page page cat is family  </h3>
    <table>
        <th> USername </th>
        <th> firstname </th>
        <th> lastname </th>
        <th> email  </th>
        
        {% for dt  in date3  %}

        
        <tr>
            <td> {{dt.username}}</td>
            <td> {{dt.first_name}}</td>
            <td> {{dt.last_name}}</td>
            <td> {{dt.email}}</td>

        </tr>
            
        {% endfor %}
            
    </table>


    <h3> data 4 filter by post publish date 2023-8-31</h3>
    <table>
        <th> USername </th>
        <th> firstname </th>
        <th> lastname </th>
        <th> email  </th>
        
        {% for dt  in date4  %}

        
        <tr>
            <td> {{dt.username}}</td>
            <td> {{dt.first_name}}</td>
            <td> {{dt.last_name}}</td>
            <td> {{dt.email}}</td>

        </tr>
            
        {% endfor %}
            
    </table>


    <h3> data 5 filter by sond duration in song models ! </h3>
    <table>
        <th> USername </th>
        <th> firstname </th>
        <th> lastname </th>
        <th> email  </th>
        
        {% for dt  in date1  %}

        
        <tr>
            <td> {{dt.username}}</td>
            <td> {{dt.first_name}}</td>
            <td> {{dt.last_name}}</td>
            <td> {{dt.email}}</td>

        </tr>
            
        {% endfor %}
            
    </table>
</body>
</html>